@import "tailwindcss";

@import "./styles/theme.css";

@import "paper-css/paper.css";

/* AI Feedback Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.paper.border-3 {
  border-radius: 
    255px 15px 225px 15px / 
    15px 225px 15px 255px;
}

.paper-btn {
  border-radius: 
    225px 15px 235px 15px / 
    15px 235px 15px 225px !important;
}
